<div class="container">
    <div class="breadcrumb">
        <p class="hidden">Sie befinden sich hier: </p>
        <ul>
            <li class="icon arrow-right">
                <a href="http://www1.wdr.de/">WDR</a>
            </li>
            <li class="icon arrow-right">
                <a href="http://www1.wdr.de/nachrichten/">Nachrichten</a>
            </li>
            <li class="icon arrow-right">
                <a href="http://www1.wdr.de/nachrichten/landespolitik/">Landespolitik</a>
            </li>
            <li class="icon arrow-right">
                <a href="http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/">Landtagswahl</a>
            </li>
        </ul>
    </div>
</div>
