<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">
<head>
    <title>Was schätzen Sie?</title>
    <meta property="og:title" content="Was schätzen Sie: Wie hat sich NRW unter Kraft verändert? - WDR" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0"/>
    <meta name="Keywords" content="WDR, WDR-data, Datenprojekte, NRW, Nordrhein-Westfalen, Landtagswahl, Nachrichten, Landespolitik, #ddj, #interactive, Was schätzen Sie?"/>
    <meta name="Description" content="Was schätzen Sie, wie hat sich NRW unter Kraft verändert? Zeichnen Sie Ihre Einschätzung in die Grafik ein."/>
    <meta name="Author" content="Peter Schneider, Patricia Ennenbach, Marcus Weiner"/>
    <meta name="DC.Rights" content="Nur WDR"/>
    <meta name="DC.Date" content="2016-02-23T15:23+01:00" />
    <meta name="Publisher" content="wdr.de" />
    <meta property="og:image" content="https://www1.wdr.de/radio/wdr5/wdrlogo118~_v-ARDFotogalerie.jpg" />
    <meta name="robots" content="index,follow,noarchive"/>
    <link rel="shortcut icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>
    <link rel="icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>

    <link rel="stylesheet" href="styles/main.css">

</head>
<body>

{% include "partials/header.html" with { active: 'nachrichten' } %}

<article id="content">
    <div class="category">
        <a href="http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/index.html">Landtagswahl 2017</a>
    </div>
    <div class="container">
        <div class="intro">
            <h1>Was schätzen Sie: Wie hat sich NRW unter Kraft verändert?</h1>
            <p>Am 14. Mai wird in Nordrhein-Westfalen gewählt. Wie hat sich unser Bundesland in den fünf Jahren
                Regierung von SPD und Grünen unter Ministerpräsidentin Hannelore Kraft verändert?</p>
            <p><b>Zeichnen Sie ihre Einschätzung. Ein Klick auf den Button unter der Grafik verrät, ob Sie richtig lagen.</b></p>
        </div>

        <div class="questions">
            {% for question in data %}
            <div class="question">
                <h2>{{ question.heading|mdi }}</h2>
                <h3>{{ question.subheading|mdi }}</h3>
                <div class="you-draw-it {{ question.key }}" data-key="{{ question.key }}"></div>
                <div class="result {{ question.key }}">
                    <div class="actionContainer">
                        <button class="showAction">Klick: Wie war's tatsächlich?</button>
                        <div class="tooltipcontainer">
                            <span class="tooltiptext">Zeichnen Sie ihre Einschätzung. Der Klick verrät, ob sie stimmt.</span>
                        </div>
                    </div>
                    <div class="text">{{ question.result|md }}</div>
                </div>
                <script>
                    window.ydi_data = window.ydi_data || {};
                    window.ydi_data['{{ question.key }}'] = {% autoescape false %}{{ question|json_encode }}{% endautoescape %};
                </script>
            </div>
            {% endfor %}
        </div>

        <hr>

        <h3>Quellen:</h3>

        <h4>Arbeitslosenquote:</h4>
        <a href="https://www.landesdatenbank.nrw.de/">Landesdatenbank-NRW: Arbeitsmarktstatistik der Bundesagentur für Arbeit, Deep-Link nicht möglich.</a>

        <h4>Jugendarmut:</h4>
        <a href="http://www.sozialberichte.nrw.de/sozialindikatoren_nrw/indikatoren/7_einkommensarmut/indikator7_7/Indikator_7_7_NRW_2011-2015.xlsx">Sozialberichte NRW, SGB-II-Quote der unter 15-Jährigen 2011-2015, xlsx</a></p>
        <a href="http://www.sozialberichte.nrw.de/sozialindikatoren_nrw/indikatoren/7_einkommensarmut/indikator7_7/Indikator_7_7_NRW_2007-2010.xlsx">Sozialberichte NRW, SGB-II-Quote der unter 15-Jährigen 2007-2010, xlsx</a>

        <h4>U3-Betreuung:</h4>
        <p>Ergebnisse der Kinder- und Jugendhilfestatistik Nordrhein-Westfalen, auf Anfrage.</p>

        <h4>Kriminalität:</h4>
        <a href="https://www.polizei.nrw.de/media/Dokumente/PKS/2016/Zeitreihen_PKS_NRW_2016.pdf">Polizeiliche Kriminalstatistik 2016, pdf</a>

        <h4>Neuverschuldung:</h4>
        <p>Wirtschaftsministerium, auf Anfrage.</p>

        <h4>Schüler-Lehrer-Verhältnis:</h4>
        <a href="url">https://www.schulministerium.nrw.de/docs/bp/Ministerium/Service/Schulstatistik/Amtliche-Schuldaten/index.html</a>

        <h4>Wirtschaftswachstum:</h4>
        <a href="https://www.destatis.de/DE/Publikationen/Thematisch/VolkswirtschaftlicheGesamtrechnungen/VGRderLaender/VGR_LaenderergebnisseBand1_5820001167005.xlsx?__blob=publicationFile">Destatis, Volkswirtschaftliche Gesamtrechnungen der Länder, xls</a>

        <h3>Credits:</h3>

        <p>"Was schätzen sie" beruht auf einer Vorlage der New York Times:</p>
        <a href="https://www.nytimes.com/interactive/2017/01/15/us/politics/you-draw-obama-legacy.html?_r=0">
            You Draw It: What Got Better or Worse During Obama’s Presidency
        </a>

        <p>Ein Dank an Adam Pearce, Graphics Editor bei der New York Times, der den Code zugänglich gemacht hat und uns das Recht eingeräumt hat, ihn zu nutzen:</p>
        <a href="https://bl.ocks.org/1wheel/07d9040c3422dac16bd5be741433ff1e">You Draw It - D3 drag bei bl.ocks.org</a>

        <p>Ebenso ein Dank an Mike Bostock:</p>
        <a href="https://d3js.org/">D3.js - Data Driven Documents</a>
    </div>
</article>

{% include "partials/webtrekk.html" %}
<script src="bower_components/d3/d3.min.js"></script>
<script src="app.js"></script>

</body>
</html>
