<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">
<head>
    <title>Was schaetzen Sie?</title>
    <meta property="og:title" content="WDR - Informationen und Nachrichten vom Westdeutschen Rundfunk - WDR" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="Thu, 08 Oct 1981 12:00:00 GMT" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0"/>
    <meta name="Keywords" content="WDR, Startseite, Übersicht"/>
    <meta name="Description" content="Aktuelle Nachrichten aus Nordrhein-Westfalen (NRW). Video- und Audio-Beiträge in der WDR-Mediathek, Hintergrund-Berichte und Interviews aus den Bereichen News, Sport, Wissen, Verbraucher, Kultur und Unterhaltung. Informationen zu allen Fernseh-Sendungen"/>
    <meta name="Author" content="md"/>
    <meta name="DC.Rights" content="Nur WDR"/>
    <meta name="DC.Date" content="2016-02-23T15:23+01:00" />
    <meta name="Publisher" content="wdr.de" />
    <meta property="og:image" content="https://www1.wdr.de/radio/wdr5/wdrlogo118~_v-ARDFotogalerie.jpg" />
    <meta name="robots" content="index,follow,noarchive"/>
    <link rel="shortcut icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>
    <link rel="icon" href="https://www1.wdr.de/resources/img/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www1.wdr.de/uebersicht-100.feed" />
    <link rel="stylesheet" type="text/css" href="https://www1.wdr.de/resources/css/merged_base.css?version=5.20.1" media="screen"/>
    <link rel="stylesheet" type="text/css" href="https://www1.wdr.de/resources/css/merged_print.css?version=5.20.1" media="print"/>
    <noscript>
        <link rel="stylesheet" type="text/css" href="https://www1.wdr.de/resources/css/merged_noScript.css?version=5.20.1" />
    </noscript>
    <link rel="stylesheet" type="text/css" href="merged_fonts.css" />
    <link rel="stylesheet" href="https://www1.wdr.de/video-fix-ie-neun-100.css" type="text/css"/>
    <!-- ENDE Wdr default -->

    <link rel="stylesheet" href="main.css">

</head>
<body class="wdr themen viewL">

{% include "partials/header.html" %}

<section id="content">
    <div class="container">
        <h1>Politik in Zahlen: Was schätzen Sie?</h1>
        <p>Wie hat sich die Nordrhein-Westfalen in der Amtszeit von Hannelore Kraft entwickelt?
        Zeichnen Sie ihre Einschätzung in die Grafik ein. Ein Klick auf den Button unter der Grafik verrät, wie nah Sie dran waren.</p>

        <div class="questions">
            {% for question in data %}
            <div class="question">
                <h2>{{ question.heading|mdi }}</h2>
                <div class="you-draw-it {{ question.key }}" data-key="{{ question.key }}"></div>
                {{ question.result|md }}
                <script>
                    window.ydi_data = window.ydi_data || {};
                    window.ydi_data['{{ question.key }}'] = {% autoescape false %}{{ question|json_encode }}{% endautoescape %};
                </script>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr>
  <h3>Quellen:</h3>
  <p><h4>Arbeitslosenquote:</h4>
      <a href="url">Link fehlt noch</a></p>
  <p><h4>Jugendarmut:</h4>
      <a href="https://statistik.arbeitsagentur.de/Statistikdaten/Detail/Aktuell/iiia7/zeitreihekreise-zr-gruarb/zr-gruarb-05-0-xlsx.xlsx">Bundesagentur für Arbeit, Zahlen für Nordrhein-Westfalen, xlsx</a></p>
      <a href="url">Zensus-Link Kinder U15 NRW fehlt noch</a></p>
<script src="bower_components/d3/d3.min.js"></script>
<script src="app.js"></script>

</body>
</html>
