h1
  font-size: 30px
  margin: 10px 0 15px 0

h2
  font-size: 20px
  text-align: center
  margin: 8px 0 10px 0

#content
  > .container
    max-width: 996px
    margin: 12px auto
    padding: 6px

.you-draw-it
  margin: 30px 0

  .axis
    opacity: .5

  .line
    fill: none
    stroke-width: 3

    &.black
      stroke: black

    &.red
      stroke: red

  .area
    fill: #eee

  .your-line
    stroke: #f0f
    stroke-width: 3
    stroke-dasharray: 5 5
